{% extends "base.html" %}

{% set active_page = "networks" %}

{% block title %} Network listing {% endblock %}

{% block divs %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 on-top-md">
      <div class="header-action-button mt-3">
        <div>
          {% if user_can_create_networks %}
          <form action="/networks/new" method="get">
            <button class="btn btn-sm btn-success mb-2 create-button" type="submit">Create new network</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <h3>Networks overview
          {% if account %}
            for account {{ account.name }}
          {% endif %}
        </h3>
        <div class="table-responsive">
          <table class="table table-striped paginate nav-on-click" title="View this asset">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Network ID</th>
                <th class="no-sort"># Network Resources</th>
                <th class="d-none">URL</th>
              </tr>
            </thead>
            <tbody>
              {% for network in networks: %}
              
              <tr>
                <td>
                  {{ network.name }}
                </td>
                <td>
                  {{ network.id }}
                </td>
                <td>
                  {{ network.network_resources | length }}
                </td>
                <td class="d-none">
                  /networks/{{ network.id }}
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% block paginate_tables_script %} {{ super() }} {% endblock %}

{% endblock %}


