{% extends "base.html" %}

{% set active_page = "opf" %}

{% block title %} OPF creation {% endblock %}

{% block divs %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 on-top-md">
      <div class="header-action-button mt-3">
      </div>
    </div>
    <div class="col-md-8 mt-4">
      <div class="card user-data-table">
        <h2>New OPF</h2>
        <small>Logged-in user: {{ logged_in_user.username }}</small>
        <div class="card">
          <form class="new-asset-form form-horizontal" method="RUN" action="/opf/run"> 
            <table class="table table-striped table-responsive">
              <tbody>
                <h3> OPF / PF </h3>
                <label>
                  <input type="radio" name="PForOPF" value="OPF"> OPF &emsp;
                  <input type="radio" name="PForOPF" value="PF"> PF 
                </label><br>
                <h3> Choose the network </h3>
                {% for network in networks %}
                <label>
                  <input type="radio" name="network_name" value="{{ network.name }}">
                  {{ network.name }}
                </label><br>
                {% endfor %} 

                <h3> Choose date </h3>
                <div>
                  From <input class="form-group" type="date" id="from_day" name="from_day"> to <input class="form-group" type="date" id="to_day" name="to_day">
                </div>


                <h3> Choose time <br></h3>
                <div>
                    From <input class="form-group" type="time" id="from_time" name="from_time"> to <input class="form-group" type="time" id="to_time" name="to_time"> 
                </div>
                <div class="col-md-6"> 
                  <br>
                  <input type="submit" value="Create">
              </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    
  </div>
</div>

{% endblock %}
